{% extends 'base.html.twig' %}

{% block title %}{{ 'app.game-over.title' | trans }} - {{ parent() }}{% endblock %}

{% block content %}
    <div class="container">
        <div class="page-header">
            <h1>
                {{ 'app.game-over.title' | trans }}
                <small>
                    {{ 'app.global.title' | trans }}
                </small>
            </h1>
        </div>

        {% if now <= start_time %}
            <p class="lead">
                {{ 'app.game-over.texts.1' | trans | raw }}
            </p>
            <p class="lead">
                {{ 'app.game-over.texts.2' | trans({ '%date%': start_time | date }) | raw }}
            </p>
        {% else %}
            <p class="lead">
                {{ 'app.game-over.texts.3' | trans | raw }}
            </p>
            <p class="lead">
                {{ 'app.game-over.texts.4' | trans({ '%date%': end_time | date }) | raw }}
            </p>
        {% endif %}

        <p class="lead">
            {{ 'app.game-over.texts.5' | trans({ '%email%': '<a href="mailto:' ~ default_email ~ '">' ~ default_email ~'</a>' }) | raw }}
        </p>

        <p>
            <a class="btn btn-default" href="{{ url('homepage') }}">
                <span class="glyphicon glyphicon-chevron-left"></span>
                {{ 'app.game-over.buttons.back' | trans }}
            </a>
        </p>
    </div>
{% endblock %}
