<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <div class="panel panel-primary">
                <div class="panel-body">
                    {% if game.name is not empty and game.name != game.uuid %}
                        <p>
                            {{ 'app.mazepage.texts.game' | trans }}:
                            <strong class="text-info">{{ game.name }}</strong>
                        </p>
                    {% endif %}
                    <p>
                        {{ 'app.mazepage.texts.status' | trans }}:
                        <strong class="text-info">{{ 'app.mazepage.texts.status-text' | transchoice(game.status) }}</strong>
                    </p>
                    <p>
                        {{ 'app.mazepage.texts.moves' | trans }}:
                        <strong class="text-info">{{ game.moves }}</strong>
                        {% if game.limit > 0 %}
                            {{ 'app.mazepage.texts.of' | trans }}
                            <strong class="text-info">{{ game.limit }}</strong>
                        {% endif %}
                    </p>
                    <p>
                        {{ 'app.mazepage.texts.players' | trans }}:
                        <strong class="text-info">{{ game.players | length }}</strong>
                    </p>
                    <p>
                        {{ 'app.mazepage.texts.ghosts' | trans }}:
                        <strong class="text-info">{{ game.ghosts | length }}</strong>
                    </p>
                    <p>
                        {{ 'app.mazepage.texts.min-ghosts' | trans }}:
                        <strong class="text-info">{{ game.minGhosts }}</strong>
                    </p>
                    <p>
                        {{ 'app.mazepage.texts.ghosts-rate' | trans }}:
                        <strong class="text-info">{{ game.ghostRate }}</strong>
                    </p>
                </div>
            </div>
        </div>

        <div class="col-sm-9">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        {{ 'app.mazepage.texts.score' | trans }}
                    </h3>
                </div>
                <div class="panel-body">
                    {% for player in game.classification %}
                        <p>
                            {% set playerNum = game.playerNum(player) %}
    
                            <img
                                src="{{ asset('images/starship-player0' ~ playerNum ~ '-right.png') }}"
                                style="width: 48px; height: 48px;"
                                alt="{{ player.name }}"
                                title="{{ player.name }}">

                            &nbsp;
    
                            <span class="text-info">
                                <strong>
                                    {{ player.score }}
                                </strong>
    
                                {{ 'app.mazepage.texts.points' | trans }}
                            </span>

                            &ndash;

                            <span class="text-info">
                                {% if player.email is empty %}
                                    {{ player.name }}
                                {% else %}
                                    <span title="{{ player.email }}">
                                        {{ player.name }}
                                    </span>
                                {% endif %}
                            </span>
                        </p>
                    {% else %}
                        {{ 'app.mazepage.texts.no-players' | trans }}
                    {% endfor %}
                </div>
            </div>
        </div>

    </div>
</div>
