{% extends 'base.html.twig' %}

{% block content %}
    <div class="container">
        <h1>{{ 'app.credits.title' | trans }}</h1>

        <h2>{{ 'app.credits.texts.license' | trans }}</h2>

        <p><strong>MIT License</strong></p>

        <p>Copyright (c) 2018 Privalia Venta Directa S.A.U.</p>

        <p>
            Permission is hereby granted, free of charge, to any person obtaining a copy
            of this software and associated documentation files (the "Software"), to deal
            in the Software without restriction, including without limitation the rights
            to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
            copies of the Software, and to permit persons to whom the Software is
            furnished to do so, subject to the following conditions:
        </p>

        <p>
            The above copyright notice and this permission notice shall be included in all
            copies or substantial portions of the Software.
        </p>

        <p>
            THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
            IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
            FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
            AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
            LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
            OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
            SOFTWARE.
        </p>

        <h3>{{ 'app.credits.texts.constributors' | trans }}</h3>

        <ul>
            <li>
                <a href="mailto:davamigo@gmail.com"><strong>David Amigo</strong></a>
                &lt;<a href="mailto:davamigo@gmail.com">davamigo@gmail.com</a>&gt;
            </li>
        </ul>

        <h2>{{ 'app.credits.texts.attributions' | trans }}</h2>

        <h3>{{ 'app.credits.texts.libraries' | trans }}</h3>

        <ul>
            <li>
                <strong><a href="http://php.net/" title="PHP language" target="_blank">PHP language</a></strong>
                is distributed under the
                <a href="http://www.php.net/license/3_01.txt" target="_blank">PHP License v3.01</a>,
                copyright (c) the
                <a href="http://php.net/credits.php" target="_blank">PHP Group</a>.
            </li>
            <li>
                <strong><a href="https://symfony.com" title="Symfony" target="_blank">Symfony</a></strong>
                is released under the
                <a href="https://en.wikipedia.org/wiki/MIT_License" title="MIT license" target="_blank">MIT license</a>,
                Copyright (c) Fabien Potencier.
            </li>
            <li>
                <strong><a href="https://getbootstrap.com/docs/3.3/" title="Bootstrap 3" target="_blank">Bootstrap 3</a></strong>
                library is distributed under
                <a href="https://github.com/twbs/bootstrap/blob/master/LICENSE" title="MIT license" target="_blank">MIT license</a>.
            </li>
        
            <li>
                <strong><a href="https://jquery.org/" title="jQuery" target="_blank">jQuery</a></strong>
                library is distributed under
                <a href="https://github.com/twbs/bootstrap/blob/master/LICENSE" title="MIT license" target="_blank">MIT license</a>.
            </li>
        </ul>

        <h3>{{ 'app.credits.texts.graphics' | trans }}</h3>

        <ul>
            <li>
                <strong><a href="http://glyphicons.com/" title="Glyphicons" target="_blank">Glyphicons</a></strong>
                Halflings in the
                <a href="https://getbootstrap.com/docs/3.3/" title="Bootstrap 3" target="_blank">Bootstrap 3</a>
                library have
                <a href="https://github.com/twbs/bootstrap/blob/master/LICENSE" title="MIT" target="_blank">MIT</a>
                license.
            </li>

            <li>
                <strong><a href="https://www.vecteezy.com/vector-art/136319-starship-icons" title="Starship icons" target="_blank">Starship icons</a></strong>
                from
                <a href="https://www.vecteezy.com" title="Vecteezy.com" target="_blank">Vecteezy.com</a>
                have standard attribution license
            </li>

            <li>
                <strong><a href="https://www.flaticon.com/free-icon/asteroid_1137346" title="Asteroid icon" target="_blank">Asteroid icon</a></strong>
                was made by
                <a href="https://www.flaticon.com/authors/smashicons" title="Smashicons" target="_blank">Smashicons</a>
                from
                <a href="http://www.flaticon.com" title="Flaticon" target="_blank">Flaticon</a>
                and is licensed by
                <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
            </li>

            <li>
                <strong><a href="https://www.flaticon.com/free-icon/explosion_578894" title="Explosion icon" target="_blank">Explosion icon</a></strong>
                was made by
                <a href="https://www.flaticon.com/authors/twitter" title="Twitter" target="_blank">Twitter</a>
                from
                <a href="http://www.flaticon.com" title="Flaticon" target="_blank">Flaticon</a>
                and is licensed by
                <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
            </li>

            <li>
                <strong><a href="https://www.flaticon.com/free-icon/flash_1243918" title="Flash icon" target="_blank">Flash icon</a></strong>
                was made by
                <a href="https://www.flaticon.com/authors/pixel-perfect" title="Pixel perfect" target="_blank">Pixel perfect</a>
                from
                <a href="http://www.flaticon.com" title="Flaticon" target="_blank">Flaticon</a>
                and is licensed by
                <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
            </li>

            <li>
                <strong><a href="https://www.wallpaperwolf.com/wallpapers/iphone-wallpapers/hd/universal-stars-hd-iphone-wallpaper-0269.html" title="Stars background" target="_blank">Stars background</a></strong>
                was made by
                <a href="https://www.wallpaperwolf.com/" title="Wallpaperwolf" target="_blank">Wallpaperwolf</a>
                and has free download license.
            </li>

            <li>
                <strong>Space Invaders logo and graphics</strong>
                are property of
                <a href="https://www.taito.co.jp/" title="Taito Co." target="_blank">Taito Co.</a>
            </li>
        </ul>
    </div>
{% endblock %}
