{% extends 'base.html.twig' %}

{% block title %}{{ 'app.homepage.title' | trans }} - {{ parent() }}{% endblock %}

{% block content %}
    <div class="jumbotron">
        <div class="container">
            <h1>
                {{ 'app.global.name' | trans }}
                <small>
                    {{ 'app.global.title' | trans }}
                </small>
            </h1>
            <div class="row">
                <div class="col-md-3">
                    <img
                        src="{{ asset('images/space-invaders.png') }}"
                        alt="{{ 'app.global.name' | trans }}"
                        title="{{ 'app.global.name' | trans }}"
                        class="img-responsive"
                        style="margin-bottom: 15px;"
                    />

                    <br>
                    <br>

                    <a class="btn btn-primary btn-block btn-lg" href="{{ url('rules') }}" role="button">
                        {{ 'app.homepage.rules' | trans }}
                        <span class="glyphicon glyphicon-info-sign"></span>
                    </a>

                    <br>

                    <a class="btn btn-success btn-block btn-lg" href="{{ url('game_create') }}" role="button">
                        {{ 'app.homepage.create' | trans }}
                        <span class="glyphicon glyphicon-expand"></span>
                    </a>

                    {% if activeContests %}
                        <br>

                        <a class="btn btn-warning btn-block btn-lg" href="{{ url('register') }}" role="button">
                            {{ 'app.homepage.register' | trans }}
                            <span class="glyphicon glyphicon-log-in"></span>
                        </a>
                    {% endif %}
                </div>
                <div class="col-md-9">
                    <p>
                        {{ 'app.homepage.upper-text.1' | trans | raw}}
                        {{ 'app.homepage.upper-text.2' | trans | raw }}
                    </p>
                    <p>
                        {{ 'app.homepage.lower-text.1' | trans | raw }}
                        {{ 'app.homepage.lower-text.2' | trans | raw }}
                        {{ 'app.homepage.lower-text.3' | trans | raw }}
                    </p>
                    <ul class="lead">
                        <li class="text-success">
                            {{ 'app.homepage.score.1' | trans({ '%score%': constant('AppBundle\\Domain\\Service\\GameEngine\\GameEngine::SCORE_KILL_GHOST') }) | raw }}
                        </li>
                        <li class="text-success">
                            {{ 'app.homepage.score.2' | trans({ '%score%': constant('AppBundle\\Domain\\Service\\GameEngine\\GameEngine::SCORE_KILL_PLAYER') }) | raw }}
                        </li>
                        <li class="text-danger">
                            {{ 'app.homepage.score.3' | trans({ '%score%': constant('AppBundle\\Domain\\Service\\GameEngine\\GameEngine::SCORE_DEAD') }) | raw }}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
