{% extends 'base.html.twig' %}

{% block title %}{{ contest.name }} - {{ parent() }}{% endblock %}

{% block content %}
    <div class="container">
        <div class="page-header">
            <h1>
                {{ contest.name }}
                <small>
                    {{ 'app.contest-view.title' | trans }}
                </small>
            </h1>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <p class="text-info small">
                    {{ 'app.contest-view.texts.description' | trans }}
                </p>
                <p class="lead bg-warning padding-xs">
                    {{ contest.description | default("--") | raw }}
                </p>
            </div>

            <div class="col-xs-12">
                <p class="text-info small">
                    {{ 'app.contest-view.texts.restrictions' | trans }}
                </p>
                <p class="lead bg-warning padding-xs">
                    {{ contest.emailRestrictionsRegex | default("--") | raw }}
                </p>
            </div>

            <div class="col-sm-3 col-xs-12">
                <p class="text-info small">
                    {{ 'app.contest-view.texts.start-date' | trans }}
                </p>
                <p class="lead bg-warning padding-xs">
                    {{ contest.startRegistrationDate | date('Y-m-d H:i') }}
                </p>
            </div>

            <div class="col-sm-3 col-xs-12">
                <p class="text-info small">
                    {{ 'app.contest-view.texts.end-date' | trans }}
                </p>
                <p class="lead bg-warning padding-xs">
                    {{ contest.endRegistrationDate | date('Y-m-d H:i') }}
                </p>
            </div>

            <div class="col-sm-3 col-xs-12">
                <p class="text-info small">
                    {{ 'app.contest-view.texts.contest' | trans }}
                </p>
                <p class="lead bg-warning padding-xs">
                    {{ contest.contestDate is empty ? "--" : contest.contestDate | date('Y-m-d H:i') }}
                </p>
            </div>

            <div class="col-sm-3 col-xs-12">
                <p class="text-info small">
                    {{ 'app.contest-view.texts.competitors' | trans }}
                </p>
                <p class="lead bg-warning padding-xs">
                    {{ contest.countCompetitors }}
                    {% if contest.maxCompetitors is not empty %}
                        {{ 'app.contest-view.texts.of' | trans }}
                        {{ contest.maxCompetitors }}
                    {% endif %}
                </p>
            </div>

            <div class="col-xs-12 text-center">
                <hr>
                <a  role="button"
                    class="btn btn-warning"
                    href="{{ url('admin_contest_edit', { 'uuid': contest.uuid }) }}">
                    <span class="glyphicon glyphicon glyphicon-edit"></span>
                    {{ 'app.contest-view.texts.edit' | trans }}
                </a>

                <button
                    class="btn btn-danger js-btn-remove"
                    data-question="{{ 'app.contest-index.texts.ask-remove' | trans({ '%name%' : contest.name }) }}"
                    data-url="{{ url('admin_contest_remove', { 'uuid': contest.uuid }) }}"
                    data-refresh="{{ url('admin_contest_index') }}">
                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                    {{ 'app.contest-index.texts.buttons.remove' | trans }}
                </button>

                <a  role="button"
                    class="btn btn-default"
                    href="{{ url('admin_contest_index') }}">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    {{ 'app.contest-view.texts.go-back' | trans }}
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block more_javascripts %}
    <script src="{{ asset('js/admin-buttons.js') }}"></script>
{% endblock %}
