{% extends 'base.html.twig' %}

{% block title %}{{ 'app.registered-competitor.title' | trans }} - {{ parent() }}{% endblock %}

{% block content %}
    <div class="container">
        <div class="page-header">
            <h1>
                {{ 'app.registered-competitor.title' | trans }}
                <small>
                    {{ contest.name }}
                </small>
            </h1>
        </div>

        <div class="text-justify">
            <p class="lead">
                {{ 'app.registered-competitor.texts.registered' | trans({"%contest%": contest.name }) | raw }}
            </p>

            <p class="lead">
                {{ 'app.registered-competitor.texts.email' | trans | raw }}
                {{ 'app.registered-competitor.texts.no-email' | trans({ "%email%": email, "%contest%": contest.name }) | raw }}
            </p>

            <p class="lead">
                {{ 'app.registered-competitor.texts.warning' | trans | raw }}
            </p>

            <p>
                <a class="btn btn-default" href="{{ url('homepage') }}">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    {{ 'app.registered-competitor.buttons.back' | trans }}
                </a>
            </p>
        </div>
    </div>
{% endblock %}
