{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}

{% block title %}{{ 'app.validate-competitor.title' | trans }} - {{ parent() }}{% endblock %}

{% block content %}
    <div class="container">
        <div class="page-header">
            <h1>
                {{ 'app.validate-competitor.title' | trans }}
                <small>
                    {{ contest.name }}
                </small>
            </h1>
        </div>

        <div class="text-justify">
            <p class="lead">
                {{ 'app.validate-competitor.texts.info.1' | trans | raw }}
                {{ 'app.validate-competitor.texts.info.2' | trans({ "%contest%": contest.name }) | raw }}
                {{ 'app.validate-competitor.texts.info.3' | trans | raw }}
            </p>

            <p class="lead">
                {{ 'app.validate-competitor.texts.reg-period' | trans({ "%start-date%": contest.registrationStartDate| date('Y-m-d H:i e'), "%end-date%": contest.registrationEndDate| date('Y-m-d H:i e') }) | raw }}
            </p>
        </div>

        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}
