<div class="row">
    <div class="col-sm-5 col-xs-7">
        <a href="{{ url('game_view', { 'uuid' : game.uuid }) }}">{{ game.name }}</a><br>
    </div>
    <div class="col-sm-5 hidden-xs">
        <p>
            {{ 'app.admin-page.texts.height' | trans({ '%height%': game.height}) }},
            {{ 'app.admin-page.texts.width' | trans({ '%width%': game.width }) }},
            {{ 'app.admin-page.texts.players' | transchoice(game.players | length, { '%players%' : game.players | length }) }}
        </p>
        <p>
            {{ 'app.admin-page.texts.last-updated' | trans }}
            {% if game.lastUpdatedAt is null %}
                {{ 'app.admin-page.texts.unknown' | trans }}
            {% else %}
                {{ game.lastUpdatedAt | ago }}
            {% endif %}
        </p>
    </div>
    <div class="col-sm-2 col-xs-5 text-right">
        <div class="btn-group" role="group">
            <a  target="_blank"
                class="btn btn-xs btn-info js-btn-view-details"
                title="{{ 'app.admin-page.buttons.view-details' | trans }}"
                href="{{ url('admin_game_details', { 'uuid': game.uuid }) }}">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
            </a>
            <a  target="_blank"
                class="btn btn-xs btn-info js-btn-view-maze"
                title="{{ 'app.admin-page.buttons.view-maze' | trans }}"
                href="{{ url('game_view_maze', { 'uuid': game.uuid }) }}">
                <span class="glyphicon glyphicon-tower" aria-hidden="true"></span>
            </a>
            <a  target="_blank"
                class="btn btn-xs btn-info js-btn-view-panels"
                title="{{ 'app.admin-page.buttons.view-panels' | trans }}"
                href="{{ url('game_view_panels', { 'uuid': game.uuid }) }}">
                <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
            </a>
        </div>
        <div class="btn-group" role="group">
            {% if not game.finished %}
                <a  class="btn btn-xs btn-warning js-btn-finish-game"
                    title="{{ 'app.admin-page.buttons.move-finished' | trans }}"
                    data-question="{{ 'app.admin-page.texts.ask-finish' | trans({ '%uuid%' : game.uuid }) }}"
                    data-url="{{ url('game_finish', { 'uuid': game.uuid }) }}">
                    <span class="glyphicon glyphicon-ban-circle" aria-hidden="true"></span>
                </a>
            {% endif %}
            <button
                class="btn btn-xs btn-danger js-btn-remove"
                title="{{ 'app.admin-page.buttons.remove' | trans }}"
                data-question="{{ 'app.admin-page.texts.ask-remove' | trans({ '%uuid%' : game.uuid }) }}"
                data-url="{{ url('admin_game_remove', { 'uuid': game.uuid }) }}">
                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
            </button>
        </div>
    </div>
</div>

